

.winWord {
    font-size: 64px;
    margin: 10% auto 10% auto;
    width: 80%;
    text-align: center;
    background-color: rgba(255,0,200,0.5);
}

.noose {
    background-color: #000;
    color: #000;
    border-radius: 8px;
    font-size: 64px;
    text-align: center;
    position: relative;
    float: right;
    right: 5%;
    padding: 3%;
    margin-top: 5%;
    display: inline-block;
}